*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #000;
    color: #000;
}
.fondo {
    color: #000;
    background-color: #000;

}


.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    background-color: rgb(70, 69, 69);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    color: rgb(142, 156, 184);
    text-transform: uppercase;
    font-size: 20px;
}

.contentlogo {
    background-color: #fff;
}
.barra {
    display: flex;
    align-items: safe;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logomaya {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.subtexto{
    color: #6e6c6c;
    padding-top: auto;
}

.cajainicio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-block-end: 20px;

}

.cajainicio .caja1 {
    height: auto;
    width: 17rem;
    background: #252525;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;   

}

.cajainicio .caja2 {
    height: auto;
    width: 17rem;
    background: #252525;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;   

}

.cajainicio .caja1 i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #b05e27;
    font-size: 2rem;
    margin: 1rem 0;

}

.cajainicio .caja1 h3 {
    font-size: 30px;
    color: #b39f6b;

}

.cajainicio .caja2 h3 {
    font-size: 30px;
    color: #cdae98;

}

.cajainicio .caja1 p {
    padding: 0 15px;
    font-size: 15px;
}

.cajainicio .caja2 p {
    padding: 0 15px;
    font-size: 15px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 40px;
    border: 2px solid #010102;
    color: #fff;
    text-decoration: none;
    background: #b06027;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
    margin-bottom: 100px;
    
}

.btn-home a {
    margin: 0 20px;
}

.btn-home .imagen {
    display: flexbox;
}

.titulo {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: -1px 0 #656565, 0 1px #5c5c5c, 1px 0 #545454, 0 -1px #616161;
    text-align: center;
    }

.title {
        color: aliceblue;
        font-weight: lighter;
        text-shadow: -1px 0 #656565, 0 1px #5c5c5c, 1px 0 #545454, 0 -1px #616161;
        text-align: center;

    }

.textito {
    color: #030303;
    background-color: whitesmoke;
    text-align: center;
    font-size: larger;
}

.about {
    background: #171717;
}


.title {
    margin-bottom:45px;
    margin-top: auto;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(76, 76, 76);
}

.contenedor {
    display: flex;
    flex-direction: column;

}

.barra {
    display: flex;
    flex-direction: column;
}